* {
    margin: 0;
    padding: 0;
}

@media (max-width: 885px){
    .grid-conteiner {
        height: 900px;
        display: grid;
        grid-template-areas: 'header'
                            'aside'
                            'main'
                            'footer';
        grid-template-rows: auto;
        grid-template-columns: auto;
    }

    .productos {
        display: grid;
        grid-template-areas:'vino'
                            'cerveza'
                            'pisco';
        grid-template-rows: auto;
        justify-content: center;
    }
    
    .vinos {
        grid-area: vino;
        margin: 10px;
    }

    .cervezas {
        grid-area: cerveza;
        margin: 10px;
    }

    .piscos {
        grid-area: pisco;
        margin: 10px;
    }
    
    .contenedor{
        display: block;
    }

}

@media (min-width: 885px) {
    .grid-conteiner {
        height: 900px;
        display: grid;
        grid-template-areas: 'header header'
                            'aside main'
                            'footer footer';
        grid-template-rows: 7% auto 7%;
        grid-template-columns: 20% 80%;
        
    }

    .productos {
        display: grid;
        grid-template-areas:'vino vino vino'
                            'cerveza cerveza cerveza'
                            'pisco pisco pisco';
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        justify-content: space-around;       
    }

    .vinos {
        grid-area: vino;
        margin: 10px;
    }

    .cervezas {
        grid-area: cerveza;
        margin: 10px;
    }

    .piscos {
        grid-area: pisco;
        margin: 10px;
    }
    
    .contenedor{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    
}

.header {
    grid-area: header;
    border-bottom: solid 2px #9fcae84f;
    background-color: #262944;
}

.titulo {
   height: 60px;
   color: #8A682E;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

i{
    animation: move 4s infinite alternate;
}

@keyframes move {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(-90deg);
    }
}
.aside {
    grid-area: aside;
    color: #8A682E;
    border-right: solid 2px #9fcae84f;
    background-color: rgb(208, 220, 216);
}

.menu-lateral {
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-content: safe center;
    text-align: start;
    font-size: large;
}

.nav {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 10px;
}

.nav-link {
    margin: 2px;
    color: rgb(113, 122, 148);
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

.nav-link:hover {
    color: white;
    font-size: larger;
}

.main {
    grid-area: main;
    background-color: white;
}

.caja{
    text-align: center;
    height: 280px;
    width: 210px;
    padding: 10px;
    border: solid 2px #9fcae84f;
    box-shadow: 2px 2px 5px #262944;
}

.caja > img{
    height: 203px;
}

.texto-caja{
    height: 77px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.button {
    background-color: rgba(0, 0, 255, 0.334);
    color: white;
    transition: background-color .15s ease-in-out;    
}

.button:hover {
    background-color: rgba(0, 0, 255, 0.596);
    box-shadow: 5px 0 10px #262944;
    cursor: pointer;
}

.footer {
    height: 42px;
    padding: 5px;
    grid-area: footer;
    border-top: solid 2px #9fcae84f;
    background-color: #282a48cb;
    color: #8A682E;
    justify-content: center;
    align-items: center;
    
}

.contenedor-footer{
    display: flex;
    flex-direction: column;
}

.contactos {
    display: flex;
    justify-content: space-evenly ;
}

.footer h3{
    text-align: center;
}